.slider-container {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    text-align: center;
    position: relative;
}

.slider-labels {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 14px;
    color: #555;
}

.label {
    position: relative;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: #ddd;
    outline: none;
    opacity: 0.8;
    transition: opacity 0.2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #007bff;
    cursor: pointer;
    border: 2px solid #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #007bff;
    cursor: pointer;
    border: 2px solid #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.slider-status {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #007bff;
}

.los {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 27px;
    color: #202224;
    display: inline-block;
}

.admission-info {
    background-color: white; 
    padding: 10px; 
    /* height: 40%;  */
    margin-right: 20px; 
    margin-left: 20px;
    border-radius: 5px;
}